.chat-main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  min-height: 500px;
  max-height: 100%;
  max-width: 100%;
  min-width: 320px;
  border-radius: 10px;
  position: relative;
  height: 100%;
}

.chat-header {
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009688;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chat-header-close {
  position: absolute;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.chat-header-close:hover {
  opacity: 0.6;
}

.chat-footer>input {
  font-size: 18px;
  border: 0;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  width: 100%;
  left: 0;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  color: #666;
}

.chat-send-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 56px;
  width: 56px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 3px 0 #ccc;
  margin-right: 3px;
  margin-bottom: 3px;
}

.chat-send-button:hover, .chat-emoji:hover {
  box-shadow: 0 0 10px 0 #ccc;
  opacity: 0.6;
}

.chat-emoji {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 56px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 3px 0 #ccc;
  margin-right: 3px;
  margin-bottom: 3px;
}

.chat-emoji-body[displayhide] {
  display: none;
}

.chat-emoji-body {
  height: 210px;
  position: absolute;
  width: 100%;
  bottom: 60px;
  background: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eee;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chat-emoji-body>span {
  cursor: pointer;
  padding: 10px;
  line-height: 50px;
  font-size: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-emoji-body>span:hover {
  opacity: 0.8;
  background: #eee;
}

.chat-body {
  margin: 0;
  padding: 10px;
  position: relative;
  height: calc(100% - 150px);
  overflow-y: auto;
  scroll-behavior: smooth;
  background: url(bg.png);
}

.chat-body::-webkit-scrollbar, .chat-emoji-body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.chat-body::-webkit-scrollbar-thumb, .chat-emoji-body::-webkit-scrollbar-thumb {
  background: #009688 !important;
  border-radius: 10px;
}

.chat-body::-webkit-scrollbar-thumb:hover, .chat-emoji-body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.chat-body-left, .chat-body-right, .chat-body-center {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.chat-body-center {
  justify-content: center;
}

.chat-body-left {
  justify-content: flex-start;
}

.chat-body-right {
  justify-content: flex-end;
}

.chat-body-left>span, .chat-body-right>span, .chat-body-center>span {
  padding: 10px;
  border-radius: 6px;
  width: fit-content;
  width: -moz-fit-content;
  word-break: break-word;
  max-width: 70%;
  text-align: left;
}

.chat-body-center>span {
  background: #9e9e9e;
  color: #fff;
}

.chat-body-right>span {
  background: #009688;
  color: #fff;
}

.chat-body-left>span {
  background: #607d8b;
  color: #fff;
}

.chat-body-right>span>i, .chat-body-left>span>i {
  font-size: 9px;
  font-style: normal;
  user-select: none;
}

.chat-body-right>span>b, .chat-body-left>span>b {
  font-size: 10px;
  font-style: normal !important;
  user-select: none;
  font-weight: normal;
}

.chat-login-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  user-select: none;
}

.chat-login-main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.chat-login-main-container {
  border: 1px solid darkcyan;
  border-radius: 10px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
  background-color: white;
}

.chat-login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkcyan;
  color: white;
  min-height: 60px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  font-size: 18px;
}

.chat-login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkcyan;
  color: white;
  min-height: 60px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  font-size: 18px;
  cursor: pointer;
}

.chat-login-input {
  font-size: 28px;
  border: 0;
  padding: 15px 5px;
  outline: none;
  cursor: text;
  text-align: center;
}

.chat-login-footer:hover {
  opacity: 0.8;
}